$header_height: 64px;
$nav_height: 32px;
$main_shift: calc($header_height + $nav_height);

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: var(--bg-color);
}

main {

  // shift for <header
  &::before {
    display: inline-block;
    height: $main_shift;
    content: "";
  }
}

ul {
  list-style-type: none;
}