$header_height: 32px;
$nav_height: 32px;
$main_shift: calc($header_height + $nav_height);

a {
  text-decoration: none;
  color: var(--highlight);

  &:hover {
    color: var(--highlight-hover);
  }

  &:active {
    color: var(--highlight-active)
  }
}


header {
  position: fixed;
  top: 0px;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 10;
}

main {

  // shift for <header
  &::before {
    display: inline-block;
    height: $main_shift;
    content: "";
  }
}

button {
  width: 100px;
  padding: 5px;
  margin: 5px;
  color: var(--color);
  background-color: var(--bg-color-substrate);
  border: 2px solid var(--color);
  border-radius: 5px;
  text-transform: uppercase;

  &:hover {
    color: var(--highlight-hover);  
    border: 2px solid var(--highlight-hover);
  }

  &:active {
    color: var(--highlight-active);  
    border: 2px solid var(--highlight-active);
  }

  &:disabled {
    color: #777;
    border: 2px solid #7777;
    cursor: not-allowed;
  }
}

ul {
  list-style-type: none;
}

.bd-filter-blur-5 {
  backdrop-filter: blur(5px);
}

.bd-filter-blur-10 {
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 1270px) {
  .text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 12px;  
  }
}

.radio-wrapper {
  width: fit-content;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  background-color: #fff3;
}

.filter-switch-item {
  
  label {
    font-size: 14px;
    box-shadow: #fff3 0px 1px 3px 0px;
    margin: 2px;
    padding: 2px 4px 2px 4px;
    border-radius: 7px;
  }

  input {
    display: none; // TODO: tabulation is broken if display: none
  }

  input:checked + label {
    background-color: var(--bg-highlight);
  }

  input:not(:checked) + label {
    color: #fffc;
    --bg-opacity: 0;
    box-shadow: none;
  }
}

.filter-switch label {
  display: flex;
  cursor: pointer;
}


.filter-switch-item input:not(:checked) + label {
  color: var(--labelnotcheckedcolor);
  --bg-opacity: 0;
  box-shadow: none;
}