.modal {
    position: fixed;
    background-color: var(--bg-color-substrate);
    opacity: 0;
    pointer-events: none;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    inset: 0;
    z-index: 100;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
  
    &.open {
        opacity: 1;
        backdrop-filter: blur(25px);
        pointer-events: auto;
    }
  }

// rewrite/remove? its for server.mods details block
.server-mods-details-content {
  //font-size: 10px;
  background: var(--bg-color);
  border: 2px solid var(--color-substrate);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  overflow-y: scroll;
  max-height: 150px;
  height: min-content;
}