@import '../../styles/common.scss';

.header {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: $header_height;
  background-color: var(--bg-color-alpha);
  // backdrop-filter: saturate(180%) blur(15px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    padding: calc($header_height/4);
  }
}

.header__logo {
  height: calc($header_height/2);
}