$breakpoint_tablet: 1270px;
$breakpoint_mobile: 600px;

h2 {
  margin: 0;
}

.host {
  max-width: 1150px;
  //margin: 10px 150px; 
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #0003;
  background: var(--bg-color);
  font-size: 20px;
}

.form_container {
  margin: 25px;
}

@media screen and (max-width: $breakpoint_tablet) {
  .host {
    flex-direction: column-reverse;
    //flex-wrap: wrap;
    font-size: 18px;
    margin: 10px 50px;
  }
}

@media screen and (max-width: $breakpoint_mobile) {
  .host {
    flex-direction: row;
    font-size: 14px;
    margin: 10px 10px;
  }
}

.line {
  min-height: 40px;
  text-transform: uppercase;
  //border: 1px solid var(--highlight);
  align-items: center;

  &:hover {
    box-shadow: inset 0px -1px 0px var(--highlight);
  }
}

@media screen and (max-width: $breakpoint_tablet) {
  .line {
    min-height: 36px;
  }
}

@media screen and (max-width: $breakpoint_mobile) {
  .line {
    min-height: 32px;
  }
}

select, input {
  height: 24px;
  max-width: 250px;
  border-radius: 5px;
  padding: 2px 5px;
  border: 0;
  box-sizing:content-box;
  color: var(--color);
  background-color: var(--bg-color-alpha);
}

input[type="range"] {
  width: 70%;
  max-width: 250px;
  height: 24px;
}

.image_container {
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: $breakpoint_tablet) {
  .image_container{
    min-height: 240px;
    max-width: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: $breakpoint_mobile) {
  .image_container{
    display: none;
  }
}

.info_container {
  display: flex;
  align-items: flex-end;
  margin: 10px;
}

.info {
  height: 24px;
  background-color: var(--bg-color-alpha);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  white-space: nowrap;
}

.image_proxy_flag {
  height: 10px;
  border: 2px solid var(--color);
  border-radius: 25%;
  margin-left: 2px;
  margin-bottom: -2px;
}

