.form {
  margin: 10px; 
  padding: 10px;
  // background-color: var(--bg-color-substrate);
  border: 1px solid var(--color-substrate);
  border-radius: 10px;
  // -webkit-transform: rotateY(5deg);
  //         transform: rotateY(5deg);
}