@import '../../styles/common.scss';

nav {
  background-color: var(--bg-color-substrate);
}

.nav {
  height: $nav_height;
  
}

.link {
  appearance: none;
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: var(--color);
  padding-bottom: 4px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 250ms;
  text-decoration: none;
  display: inline-block; // temp

  &:hover, &:focus {
    border-bottom: 3px solid var(--highlight-hover);
  }
}

.active {
  color: var(--highlight-active);
  border-bottom: 2px solid var(--highlight-active);
}